<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Document</title>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <div id="app">
        <div>
            <div v-for="image in images">
                <input
                    type="radio"
                    v-model="profileImg"
                    name="profileImg"
                    :value="image.imgId"
                > Choose as profile image
            </div>
            You have selected : {{profileImg}}
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                images: [{ imgId: '反擊' }, { imgId: '傷口' }, { imgId: '吸血' }],
                profileImg: 2
            }
        })
    </script>
</body>

</html>