.flex-csb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    box-sizing: border-box;
}